@using HRMS.Models;
@model ChatExtended
<h3>Welcome To Chat Page</h3>
@{ 
    int userId = int.Parse(Session["userId"].ToString());
    string userName = (string)Session["userName"];
    
}
<div id="chatHistory">
    @if (Model != null)
    {
        foreach (Chat i in Model.listOfSeenChats)
        {
            <div>
                <p class="p-3 " style="text-align: @(i.Employee1.EmployeeId == userId ? "right" : "left") "><b>@i.Employee1.FirstName @i.Employee1.LastName :</b>  @i.data</p>
            </div>

        }

        if (Model.listOfUsSeenChats.Count != 0)
        {
            <p class="bg-green" id="newMessage">new messages</p>
        }
        foreach (Chat i in Model.listOfUsSeenChats)
        {
            <div>
                <p class="p-3 " style="text-align: @(i.Employee1.EmployeeId == userId ? "right" : "left") "><b>@i.Employee1.FirstName @i.Employee1.LastName :</b>  @i.data</p>
            </div>

        }
    }
</div>
<div class="d-flex">
    <input type="text" id="message" class="form-control" />

    <button id="sendMessage" class="btn btn-primary ms-4" onclick="sendMessage()">Send</button>
</div>

<script>
    var socket = new WebSocket("ws://localhost:5355?userId="+@userId);

//    $(document).ready(function () {
//      const message = Model.listOfUsSeenChats;

//socket.send(JSON.stringify({
//    status: "MARKSEEN",
//    data: message
//}))
//    })
    socket.onopen = function () {
        console.log("WebSocket connected");
    };

    socket.onmessage = function (event) {
        $("#newMessage").css("display", "block");
        console.log(event);
        jsonData = JSON.parse(event.data);
        console.log(event);
        jsonData = JSON.parse(event.data);
        if (jsonData.operation == "userGetsOnline") {
            $("#" + jsonData.userId).find("#isOnline").css("background", "green");

        }
        if (jsonData.operation == "userGetsOffline") {
            $("#" + jsonData.userId).find("#isOnline").css("background", "red");
        }
        
            $("#chatHistory").append(`
  <div><p class="p-3" style="text-align: left;"><b> ${jsonData.sender} :</b> ${jsonData.message}</p></div>`);
            console.log("Received message: " + event.data);

      

    };

    socket.onclose = function () {
        console.log("WebSocket closed");
    };

    function sendMessage() {
        $("#newMessage").css("display", "none");
        /*       var message = document.getElementById("messageInput").value;*/
        const message = $("#message").val();


                $("#chatHistory").append(`
        <div>
    <p class="p-3 " style="text-align:right  "><b> @userName :</b>   ${message}</p>
</div>
        `);
        socket.send(
        JSON.stringify({
            id: 1,
            sender: "@userName",
            senderId: "@userId",
            reciever:"Mayank Sheladiya",
            message: $("#message").val()
        })
        );
    }


</script>
