@using HRMS.Models;
@model List<Chat>
<h3>Welcome To Chat Page</h3>
@{ 
    int userId = int.Parse(Session["userId"].ToString());
    string userName = (string)Session["userName"];
}
<div id="chatHistory">
    @if (Model != null)
    {
        foreach (Chat i in Model)
        {
            <div>
                <p class="p-3 " style="text-align: @(i.Employee1.EmployeeId == userId ? "right" : "left") "><b>@i.Employee1.FirstName @i.Employee1.LastName :</b>  @i.data</p>
            </div>

        }
    }
</div>
<div class="d-flex">
    <input type="text" id="message" class="form-control" />

    <button id="sendMessage" class="btn btn-primary ms-4" onclick="sendMessage()">Send</button>
</div>

<script>
    var socket = new WebSocket("ws://localhost:5355?userId="+@userId);

    socket.onopen = function () {
        console.log("WebSocket connected");
    };

    socket.onmessage = function (event) {
        console.log(event);
        jsonData = JSON.parse(event.data);
    
        $("#chatHistory").append(`
                <div>
    <p class="p-3 " style="text-align:left  "><b> ${jsonData.sender} :</b > ${jsonData.message}</p>
</div>`);
        console.log("Received message: " + event.data);
    };

    socket.onclose = function () {
        console.log("WebSocket closed");
    };

    function sendMessage() {
        /*       var message = document.getElementById("messageInput").value;*/
        const message = $("#message").val();
       

                $("#chatHistory").append(`
        <div>
    <p class="p-3 " style="text-align:right  "><b> @userName :</b>   ${message}</p>
</div>
        `);
        socket.send(
        JSON.stringify({
            id: 1,
            sender: "@userName",
            senderId: "@userId",
            reciever:"Mayank Sheladiya",
            message: $("#message").val()
        })
        );
    }

</script>
