<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/assets/dist/css/skins/_all-skins.min.css">
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Content/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/assets/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/assets/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/assets/dist/js/demo.js"></script>
</head>
<body >
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("HRMS", "GetProfile", "Director", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        if (Session["Role"] != null && Session["Role"].ToString() == "Director")
                        {
                            <li>@Html.ActionLink("Add New Employee", "AddEmployee", "Director", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("All Employees", "AllEmployees", "Director", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Add A New Team", "CreateTeam", "Teams", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("All Teams", "GetMyTeams", "Teams", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Fired", "FiredEmployees", "Director", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                    @{
                        if (Session["Role"] != null && Session["Role"].ToString() != "Director")
                        {
                            <li>@Html.ActionLink("Add Tasks", "AddTask", "Director", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("My Taks", "GetAlLMyTask", "Director", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("All Teams", "GetMyTeams", "Teams", new { area = "" }, new { @class = "nav-link" })</li>

                        }
                    }

                    @if (Session["Role"] != null && Session["Role"].ToString() != "Employee")
                    {
                        <li>@Html.ActionLink("All Taks", "GetAllTasks", "Director", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("All Teams", "GetMyTeams", "Teams", new { area = "" }, new { @class = "nav-link" })</li>
                    }


                    @if (Session["Role"] != null)
                    {
                        <li>@Html.ActionLink("Profile", "GetProfile", "Director", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Authentication", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    
    @RenderSection("scripts", required: false)
</body>
</html>
