@using HRMS.Models;
@model List<Task>
@if (TempData["LogInAsUser"] != null)
{
    <script>
        $.notify("@TempData["LogInAsUser"]", "success");
        @{TempData["LogInAsUser"] = null;}
    </script>
}
@if (TempData["TaskAdded"] != null)
{
    <script>
        $.notify("@TempData["TaskAdded"]", "success");
        @{TempData["TaskAdded"] = null;}
    </script>
}
@if (TempData["TaskNotFound"] != null)
{
    <script>
        $.notify("@TempData["TaskNotFound"]", "error");
        @{TempData["TaskNotFound"] = null;}
    </script>
}
@if (TempData["TaskUpdated"] != null)
{
    <script>
        $.notify("@TempData["TaskUpdated"]", "success");
        @{TempData["TaskUpdated"] = null;}
    </script>
}

<head>
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/assets/dist/css/skins/_all-skins.min.css">
</head>

<p>
    <h3> Your Tasks</h3>
</p>
<button class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#mymodal" id="addTask">Add Task</button>

<table class="table table-hover" id="TasksDataTable">
    <thead>
        <tr>
            <th>Task Date</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Approver</th>
            <th>Approved By</th>
            <th>Approved On</th>
            <th>Status</th>
            <th>Modified On</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Task i in Model)
        {
            <tr id="@i.TaskId">
                <td>@i.TaskDate.Value.ToShortDateString()</td>
                <td>@i.TaskName</td>
                <td>@i.TaskDescription</td>
                <td>@i.Employee1.FirstName  @i.Employee1.LastName</td>
                @if (i.Employee != null)
                {
                    <td>@i.Employee.FirstName @i.Employee.LastName</td>
                }
                else
                {
                    <td></td>
                }
                @if (i.ApprovedORRejectedOn != null)
                {
                    <td>@i.ApprovedORRejectedOn.Value.ToShortDateString()</td>
                }
                else
                {
                    <td></td>
                }

                <td>
                    <span class='
                   label
                  @{
                      if (i.Status == "Approved")
                      {
                      @:label-success
                  }
                      else if (i.Status == "Pending") {
                          @:label-warning
                    }
                      else
                      {
                @:label-danger
            }
                      }

                  '>@i.Status</span>
            </td>
            @if (i.ModifiedOn != null)
            {
                <td>@i.ModifiedOn.Value.ToShortDateString()</td>
            }
            else
            {
                <td></td>
            }

            <td>
                @Html.ActionLink("Edit", "EditTask", "Director",
                   new { id = @i.TaskId }, new { @class = "btn btn-primary" })
            </td>
            <td>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" onclick="openModal(@i.TaskId)">
                    Delete
                </button>
                @*@Html.ActionLink("Delete", "DeleteTask", "Director",
                new { id = @i.TaskId }, new { @class = "btn btn-danger" })*@
            </td>

        </tr>

    }
    </tbody>


    
</table>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" >


            <div class="modal-body" id="modal-body" style="min-height:200px;width:500px">
                <p class="h3 p-3">Are You Sure ?</p>
                <p>
                    <button class="btn btn-success" id="yesDelete">Yes</button>
                    <button class="btn btn-info" data-bs-dismiss="modal" id="noDelete">No</button>
                </p>

            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" id="modalClose">Cancel</button>
            </div>

        </div>
    </div>
</div>

<script src="~/Content/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Content/assets/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/assets/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Content/assets/dist/js/demo.js"></script>
<script>
    $("#addTask").click(function () {
        $.ajax({
            method: "GET",
            url: "/Partial/AddTaskForm",
            success: function (data) {
                $("#modal-body").html(data);
                $.validator.unobtrusive.parse($("#AddTasKForm"));
                $("#myModal").modal("show");
                console.log(data);
            },
            error: function (data) {
                $.notify("comething went wrong", "error");
            }
        })
    })

    $(document).on("submit", "#AddTasKForm", function (e) {
        e.preventDefault();
        let data = new FormData($(this)[0]);


        if ($(this).valid()) {
            $.ajax({
                method: "POST",
                url: "/AJAX/AddTask",
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    const dataToPrint = JSON.parse(data.data);
                    if (data.status == "Success") {
                          $("#TasksDataTable").DataTable().row.add(
      {
                                  TaskDate: dataToPrint.TaskDate,
                                  TaskName: dataToPrint.TaskName,
                                  Description: dataToPrint.TaskDescription,
                                  Approver: dataToPrint.ApproverFirstName + dataToPrint.ApproverLastName,
                                  ApprovedBy: dataToPrint.ApprovedByFirstName + dataToPrint.ApprovedByLastName,
                                  Status: dataToPrint.Status,
                                  ModifiedOn: dataToPrint.ModifiedOn,
          Edit: null,
          Delete: null,
                                  ApprovedOn: dataToPrint.ApprovedDate
      }
  ).draw()
                        $.notify(data.message, "success");
                    }
                    else {
                        $.notify(data.message, "error");
                    }
                    
                    $("#modalClose").click();
                },
                error: function (data) {
                    console.log(data);
                    $("#modalClose").click();
                }
            })
        } else {
            $.notify("Form Validation Failed", "error");
        }
    });
</script>

<script>
    $(document).ready(function () {
      
        $("#TasksDataTable").DataTable({
            columns: [
                {
                    data:"TaskDate"
                },
                { data: "TaskName" },
                { data: "Description" },
                { data: "Approver" },
                { data: "ApprovedBy" },
                { data: "ApprovedOn" },
                { data: "Status" },
                { data: 'ModifiedOn' },
                { data: 'Edit' },
                {data:"Delete"}
            ],
        });
    })
</script>
<script>
    console.log("Hello world");
    function openModal(id) {
        $("#yesDelete").attr("onclick", `deleteProduct(${id})`)
    }
    function deleteProduct(id) {
        console.log($(this))
        $.ajax({
            method: "GET",
            url: "/Director/DeleteTask/" + id,
            success: function (data) {
                console.log($(this))
                console.log(data);
                if (data.Status = "success") {
                 
                    
                    $(`#${id}`).remove();
                    $("#noDelete").click();
                    $.notify("Task Deleted", "success");
                }
            },
            error: function (data) {
                $.notify("Something Went Wrong", "error");
                console.log("Error Occured");
            }
        })
    }
</script>